<div style="padding: 40px;"></div>

<div class="container">

    <div class="card border border-light" id="FormContactCard">
        
        <div class="card-body">
           
            <form action="">
                <div class="form-group">

                    <div class="form-row">
            
                        <label for=""><h4 class="text-white">NAME</h4></label>
                        <input class="form-control animate__animated animate__fadeInLeftBig" type="text" >
                        <br>
                        <label for=""><h4 class="text-white">LASTNAME</h4></label>
                        <input class="form-control animate__animated animate__fadeInRightBig" type="text" >
                        <br>
                        <label for=""><h4 class="text-white">EMAIL ADDRESS</h4></label>
                        <input class="form-control  animate__animated animate__fadeInLeft" type="email" >
                        <br>
                        <label for=""><h4 class="text-white">PHONE NUMBER</h4></label>
                        <input class="form-control animate__animated animate__fadeInRightBig" type="tel" >
                        <br>
                        <button type="submit" class="btn btn-outline-warning">SEND REQUEST</button>
            
            
            
                    </div>
            
            
                </div>
            </form>


        </div>
    </div>


</div>
<app-footer></app-footer>
