<div class="container">

    <div class="card-body" id="MySelfIntroduction">
        <h2 class="text-white text-center  animate__animated animate__fadeInDownBig"><strong> HI THERE! LET'S TAKE A
                SMALL TOUR IN MY WEBSITE!!</strong>
        </h2>

    </div>

    <div class="card border border-warning animate__animated animate__fadeInUp" id="MySelfIntroduction">
        <div class="card-header">
            <h2 class="text-center text-white">
                WHO I AM?
            </h2>
        </div>
        <div class="card-body">
            <p class="text-white text-justify">
                MY NAME IS CLAUDIO GONZALEZ, I AM A COMPUTER ENGINEER PASSIONATE ABOUT THE WORLD OF TECHNOLOGY
                AND WHO LIKES TO LEARN A LOT ABOUT THE WAY AND GENERATE EFFECTIVE SOLUTIONS FOR YOUR BUSINESS,
                <br>
                <br>
                I HAVE 2 YEARS OF EXPERIENCE IN THE AREA OF TECHNICAL SUPPORT IN DIFFERENT AREAS
                EXPERIENCE IN THE AREA OF TECHNICAL SUPPORT IN DIFFERENT AREAS SUCH AS NETWORKS, DATABASES, AND
                CURRENTLY MY FOCUS
                AND CURRENTLY MY FOCUS REMAINS IN SOFTWARE DEVELOPMENT FOR STARTUPS, I CURRENTLY RESIDE IN SAN JOSE
                COSTA RICA.
                <br>

            </p>
        </div>
    </div>

</div>
<br>
<div class="container">

    <h2 class="text-white text-center">LET ME SHOW YOU MY BASIC WEB TOOL THAT I HANDLE</h2>
    <br>
    <div class="card-group">
        <div class="card" id="MySelfIntroduction">
            <img id="ImageRounded" class="card-img-top" src="https://img-premium.flaticon.com/png/512/174/174854.png?token=exp=1621461435~hmac=00002a907118133b71947aed6cb110d3" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title text-center text-white">HTML</h4>
               
            </div>
        </div>
        <div class="card"  id="MySelfIntroduction">
            <img id="ImageRounded" class="card-img-top" src="https://img-premium.flaticon.com/png/512/732/732190.png?token=exp=1621461471~hmac=a76e48092ed13bac0e3d26cc7c28aab5" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title text-center text-white">CSS</h4>
               
            </div>
        </div>
        <div class="card" id="MySelfIntroduction">
            <img class="card-img-top" src="https://img-premium.flaticon.com/png/512/919/919828.png?token=exp=1621461549~hmac=6076a8d5477cf35298be927aa67b5e72"  alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title text-white text-center">JAVASCRIPT</h4>
               
            </div>
        </div>
        <div class="card" id="MySelfIntroduction">
            <img class="card-img-top" src="https://raw.githubusercontent.com/themedotid/bootstrap-icon-css/master/docs/bootstrap-icon-css.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title text-white text-center">BOOTSTRAP</h4>
                
            </div>
        </div>
    </div>

</div>
<hr class="bg-light">