<div class="container">
    <div style="padding: 70px;"></div>
    <div class="card-body" id="MySelfIntroduction">
        <h2 class="text-white text-center  animate__animated animate__fadeInDownBig"><strong> HI THERE! THANK YOU FOR
                VISIT MY WEBSITE!!
                LET ME INTRODUCE MYSELF!
            </strong>
        </h2>

    </div>

    <div class="card border border-warning animate__animated animate__fadeInUp" id="MySelfIntroduction">
        <div class="card-header">
            <h2 class="text-center text-white">
                Claudio Gonzalez Hernandez - Software Engineer Fullstack
            </h2>
        </div>
        <div class="card-body">
            <p class="text-white text-justify" id="FontDescription">
                My name is Claudio Gonzalez Hernandez, I am a fullstack software engineer from ULACIT Costa Rica, you
                are welcome to my personal portfolio of curriculum and projects in which I have collaborated so far, I
                am very interested in participating in projects for individuals with entrepreneurial ideals and also
                micro companies that want to generate solutions for their end customers and to promote themselves on the
                internet.
                <br>
                <br>
                I currently have 3 years of experience in the IT area, from technical support, creation and management
                of interconnected network infrastructure, electronic security of CCTV, technological training to company
                staff in collaboration and I am currently specializing in custom software development for different
                types of needs.

            </p>
        </div>
    </div>

</div>
<br>
<div class="container">

    <h2 class="text-white text-center">LET ME SHOW YOU MY BASIC WEB TOOL THAT I HANDLE</h2>
    <br>
    <div class="card-group">
        <div class="card" id="MySelfIntroduction">

            <div class="card-body">
                <img class="img-fluid d-block mx-auto" src="/assets/Img/About Us/IconVisualStudioCode.png" alt="Card image cap">
                <h4 class="card-title text-center text-white">VISUAL STUDIO CODE</h4>

            </div>
        </div>
        <div class="card" id="MySelfIntroduction">

            <div class="card-body">
                <img id="ImageRounded" class="img-fluid d-block mx-auto" src="/assets/Img/About Us/IconSublimeText.png"
                    alt="Card image cap">
                <h4 class="card-title text-center text-white">SUBLIME TEXT</h4>

            </div>
        </div>
        <div class="card" id="MySelfIntroduction">

            <div class="card-body">
                <img class="img-fluid d-block mx-auto" src="/assets/Img/About Us/IconVisualStudioMS.png" alt="Card image cap">
                <h4 class="card-title text-white text-center">VISUAL STUDIO FROM MICROSOFT</h4>

            </div>
        </div>
        <div class="card" id="MySelfIntroduction">
          
            <div class="card-body">
                <img class="img-fluid d-block mx-auto" src="/assets/Img/About Us/IconIntellij.png" alt="Card image cap">
                <h4 class="card-title text-white text-center">INTELLIJ BY JETBRAINS</h4>

            </div>
        </div>

    </div>

</div>
<div class="container">

   
    <br>
    <div class="card-group">
        <div class="card" id="MySelfIntroduction">
          
            <div class="card-body">
                <img class="img-fluid d-block mx-auto" src="/assets/Img/About Us/IconNetbeans.png" alt="Card image cap">
                <h4 class="card-title text-center text-white">NETBEANS </h4>

            </div>
        </div>
        <div class="card" id="MySelfIntroduction">
           
            <div class="card-body">
                <img id="ImageRounded" class="img-fluid d-block mx-auto" src="/assets/Img/About Us/IconSSMS.png"
                alt="Card image cap">
                <h4 class="card-title text-center text-white">SQL SERVER MANAGEMENT STUDIO</h4>

            </div>
        </div>
        <div class="card" id="MySelfIntroduction">
           
            <div class="card-body">
                <img class="img-fluid d-block mx-auto" src="/assets/Img/About Us/IconMongoDB.png" alt="Card image cap">
                <h4 class="card-title text-white text-center">MONGO DB COMPASS</h4>

            </div>
        </div>
        <div class="card" id="MySelfIntroduction">
            
            <div class="card-body">
                <img class="img-fluid d-block mx-auto" src="/assets/Img/About Us/IconDocker.png" alt="Card image cap">
                <h4 class="card-title text-white text-center">DOCKER</h4>

            </div>
        </div>

    </div>

</div>
<hr class="bg-light">
<div style="padding: 35px;"></div>
<app-footer></app-footer>