<div style="padding: 65px;"></div>

<div class="container">

    <h2 class="text-center text-white">HELLO THERE! CHECK THIS OUT! MY WORK PORTAFOLIO THAT I'M CURRENTLY WORKING ON
    </h2>

</div>
<div style="padding: 45px;"></div>
<div class="container-fluid">
    <div class="row">
       
        <div class="col">
            <div class="card" style="background-color: transparent;">
                <div class="card-header">
                    <strong class="text-white text-center"> MARIAN BAKER SCHOOL S.A</strong>
                </div>
                <img class="card-img-top" src="/assets/Img/PortafolioScreenShots/mbs.png" id="ImageSize" height="550px">
                <div class="card-body">
                    <a class="btn btn-success d-block mx-auto" target="_blank" href="https://mbs-webpage-2021.netlify.app/">VISIT SITE</a>
                    <br>
                    <a  class="btn btn-dark d-block mx-auto" href="https://github.com/claugh23/Mbs-Web-Page-2021">GITHUB </a>
                </div>
            </div>
        </div>
          
        <div class="col">
            <div class="card" style="background-color: transparent;">
                <div class="card-header">
                    <strong class="text-white text-center"> ALL ON SIX DENTAL CLINIC</strong>
                </div>
                <img class="card-img-top" src="/assets/Img/PortafolioScreenShots/PortafolioClaudio.png" id="ImageSize">
                <div class="card-body">
                    <a class="btn btn-success d-block mx-auto" target="_blank" href="https://www.allonsixcostarica.com/">VISIT SITE</a>
                    <br>
                   
                </div>
            </div>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card" style="background-color: transparent;">
                <div class="card-header">
                    <strong class="text-white text-center"> SOMOS GOES ULACIT</strong>
                </div>
                <img class="card-img-top" src="/assets/Img/PortafolioScreenShots/somosgoes.png" id="ImageSize">
                <div class="card-body">
                    <a class="btn btn-success d-block mx-auto" target="_blank"
                        href="https://somosgoesulacit.netlify.app">VISIT SITE</a>
                    <br>
                    <a class="btn btn-dark d-block mx-auto" target="_blank"
                    href="https://github.com/Claudio-2019/GoesOficial">GITHUB</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="background-color: transparent;">
                <div class="card-header">
                    <strong class="text-white text-center">HELP DESK AND INVENTORY APP</strong>
                </div>
                <img class="card-img-top" src="/assets/Img/PortafolioScreenShots/ticketsAppMBS.png" id="ImageSize">
                <div class="card-body">
                    <a class="btn btn-success d-block mx-auto" target="_blank"
                        href="https://ticketsmbssupport.netlify.app">VISIT SITE</a>
                    <br>
                   
                </div>
            </div>
        </div>


    </div>


</div>