<div style="padding: 35px;"></div>

<div class="container">

    <h2 class="text-center text-white">HELLO THERE! CHECK THIS OUT! MY WORK PORTAFOLIO THAT I'M CURRENTLY WORKING ON</h2>



</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card" style="background-color: transparent;">
                <img class="card-img-top" id="ImageSize" >
                <div class="card-body">
                    <h4 class="card-title text-white text-center">HTML</h4>
                    <br>
                    <br>
                    <p class="card-text text-white text-center text-justify">HTML IS DEFINED AS THE STRUCTURE OR
                        SKELETON THAT
                        MAKE UP THE WEB SITES, THIS IS WHERE THE TAGS THAT GIVE THE DEFINITION OF DIFFERENT TYPES OF
                        COMPONENTS, SUCH AS IMAGES, NEWS SECTION, NAVIGATION BARS, AMONG OTHERS, ARE DEFINED. </p>
    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="background-color: transparent;">
                <img class="card-img-top" id="ImageSize">
                <div class="card-body">
                    <h4 class="card-title text-white text-center">CSS 3</h4>
                    <br>
                    <p class="card-text text-white text-center text-justify">CSS STANDS FOR CASCADING STYLE SHEETS,
                        THEY DEFINE
                        THE FORM AND PRESENTATION THAT THE DIFFERENT COMPONENTS OF YOUR WEBSITE WILL HAVE, COLORS,
                        SIZES, ANIMATIONS TO THE SECTIONS, BORDERS AMONG OTHERS, WILL MAKE YOUR SITE VERY FRIENDLY
                        TO THE COMMON USER'S VIEW.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="background-color: transparent;">
                <img class="card-img-top" id="ImageSize" >
                <div class="card-body">
                    <h4 class="card-title text-white text-center">JAVASCRIPT</h4>
                    <br>
                    <br>
                    <p class="card-text text-white text-center text-justify">JAVASCRIPT IS THE PROGRAMMING LANGUAGE
                        THAT REIGNS
                        ON THE WEB, IT GIVES TO THE WEB PAGES, INTERACTIVITY WITH THE USER, WITH IT YOU CAN CREATE
                        VIDEO GAMES, SEND AND RECEIVE INFORMATION, AMONG MANY OTHER THINGS.</p>
                </div>
            </div>
        </div>
    </div>
</div>