<nav class="navbar navbar-expand-sm navbar-light bg-dark pt-3 " id="NavbarFixed">

    <div class="container-fluid">

        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <a href="/">
                <img id="LogoStyle" src="/assets/Img/ProfileIcon.png" width="85px" alt="">

            </a>
            <ul class="navbar-nav mx-auto">


                <li class="nav-item ">
                    <a id="TabsStyles" class="nav-link active text-white" aria-current="page" href="/">ABOUT ME</a>
                </li>
                <li class="nav-item">
                    <a id="TabsStyles" class="nav-link text-white" routerLink="/My-Technology-Strenght">TECNOLOGIES</a>
                </li>
                <li class="nav-item">
                    <a id="TabsStyles" class="nav-link text-white" routerLink="/Web-Proyects">PORTAFOLIO</a>
                </li>
                <li class="nav-item">
                    <a id="TabsStyles" class="nav-link text-white" routerLink="/Web-Proyects">SERVICES</a>
                </li>
                <li class="nav-item">
                    <a id="TabsStyles" class="nav-link text-white" routerLink="/Contact-Me">CONTACT US</a>
                </li>
                <li class="nav-item">
                    <a id="TabsStyles" class="nav-link text-white" target="_blank"
                        href="https://www.facebook.com/webdeveloperscr"><i class="fa fa-facebook"
                            aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a id="TabsStyles" class="nav-link text-white" target="_blank"
                        href="https://www.instagram.com/cr_developer/"><i class="fa fa-instagram"
                            aria-hidden="true"></i></a>
                </li>


            </ul>
        </div>
    </div>
</nav>