<div style="padding: 70px;"></div>

<div class="container">

    <div class="card animate__animated animate__bounceInDown" style="background-color: transparent;">

        <div class="card-body">
            <p class="text-white text-justify" id="DescriptionTecnologies">
                FOR YOUR BUSINESS PROJECT, I CAN COLLABORATE FROM THE TAKING OF REQUIREMENTS THAT ARE NECESSARY FOR YOUR
                WEBSITE, AS WELL AS THE REALIZATION OF WEB PROTOTYPES AND THE IMPLEMENTATION OF THE WEB SERVER TO HOST
                YOUR
                WEBSITE.
            </p>
        </div>
    </div>
    <br>
    <div class="card animate__animated animate__bounceInDown" style="background-color: transparent;">

        <div class="card-body ">
            <p class="text-white text-justify" id="DescriptionTecnologies">
                LET ME DESCRIBE SOME OF THE TECHNOLOGIES WITH WHICH I WORK TO CARRY OUT YOUR PROJECT AND WHICH HAVE HIGH
                TECHNOLOGICAL STANDARDS SUPPORTED BY COMPANIES SUCH AS MICROSOFT AND GOOGLE.
            </p>
        </div>
    </div>

</div>
<br>
<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col animate__animated animate__fadeInLeftBig">
                <div class="card" style="background-color: transparent;">
                    <img class="card-img-top img-fluid" id="ImageSize" src="/assets/Img/Tecnologies/icon html5.png">
                    <div class="card-body">
                        <h4 class="card-title text-white text-center">HTML</h4>
                        <br>
                        <br>
                        <p class="card-text text-white">HTML IS DEFINED AS THE STRUCTURE OR
                            SKELETON THAT
                            MAKE UP THE WEB SITES, THIS IS WHERE THE TAGS THAT GIVE THE DEFINITION OF DIFFERENT TYPES OF
                            COMPONENTS, SUCH AS IMAGES, NEWS SECTION, NAVIGATION BARS, AMONG OTHERS, ARE DEFINED. </p>

                    </div>
                </div>
            </div>
            <div class="col animate__animated animate__fadeInLeftBig">
                <div class="card" style="background-color: transparent;">
                    <img class="card-img-top img-fluid" id="ImageSize" src="/assets/Img/Tecnologies/icon css3.png">
                    <div class="card-body">
                        <h4 class="card-title text-white text-center">CSS 3</h4>
                        <br>
                        <p class="card-text text-white ">CSS STANDS FOR CASCADING STYLE SHEETS,
                            THEY DEFINE
                            THE FORM AND PRESENTATION THAT THE DIFFERENT COMPONENTS OF YOUR WEBSITE WILL HAVE, COLORS,
                            SIZES, ANIMATIONS TO THE SECTIONS, BORDERS AMONG OTHERS, WILL MAKE YOUR SITE VERY FRIENDLY
                            TO THE COMMON USER'S VIEW.</p>
                    </div>
                </div>
            </div>
            <div class="col animate__animated animate__fadeInLeftBig">
                <div class="card" style="background-color: transparent;">
                    <img class="card-img-top img-fluid" id="ImageSize" src="/assets/Img/Tecnologies/icon js.png">
                    <div class="card-body">
                        <h4 class="card-title text-white text-center">JAVASCRIPT</h4>
                        <br>
                        <br>
                        <p class="card-text text-white">JAVASCRIPT IS THE PROGRAMMING LANGUAGE
                            THAT REIGNS
                            ON THE WEB, IT GIVES TO THE WEB PAGES, INTERACTIVITY WITH THE USER, WITH IT YOU CAN CREATE
                            VIDEO GAMES, SEND AND RECEIVE INFORMATION, AMONG MANY OTHER THINGS.</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
           
            <div class="col animate__animated animate__fadeInLeftBig">
                <div class="card" style="background-color: transparent;">
                    <img class="card-img-top" id="ImageSize" src="/assets/Img/Tecnologies/icon angular.png"
                        style="width: 210px;">
                    <div class="card-body">
                        <h4 class="card-title text-white text-center">ANGULAR FRAMEWORK BY GOOGLE</h4>
                        <br>
                        <br>
                        <p class="card-text text-white ">
                            ANGULAR IS A CLIENT-SIDE WEB DEVELOPMENT FRAMEWORK, DEVELOPED AND MAINTAINED BY GOOGLE SINCE
                            2010, THIS TOOL IS EXCELLENT FOR MEDIUM AND LARGE WEB APPLICATION PROJECTS, I REALLY LIKE
                            WORKING WITH THIS FRAMEWORK BECAUSE IT FACILITATES WEB DEVELOPMENT AND BEHAVES AS A
                            FUNCTIONAL COMPONENT WHICH ALLOWS A HIGH STANDARD DYNAMIC DEVELOPMENT USING TYPESCRIPT.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col animate__animated animate__fadeInLeftBig">
                <div class="card" style="background-color: transparent;">
                    <img class="card-img-top img-fluid" id="ImageSize" src="/assets/Img/Tecnologies/icon blazor.png"
                        style="width: 290px;">
                    <div class="card-body">
                        <h4 class="card-title text-white text-center">ASP NET CORE WITH BLAZOR</h4>
                        <br><br>
                        <p class="card-text text-white ">
                            BLAZOR IS A SIMPLE PAGE TYPE APPLICATION FRAMEWORK, DEVELOPED BY MICROSOFT, IS A COMPLETELY
                            DYNAMIC WORK ENVIRONMENT THAT SEEKS TO POSITION ITSELF IN THE WEB APPLICATION MARKET, USES
                            C# AS THE ONLY PROGRAMMING LANGUAGE, AND GENERATES A NEW INTERACTIVITY ON THE WEB APART FROM
                            JAVASCRIPT. WHICH MAKES IT A GOOD TOOL FOR WEB DEVELOPMENT.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col animate__animated animate__fadeInLeftBig">
                <div class="card" style="background-color: transparent;">
                    <img class="card-img-top img-fluid" id="ImageSize" src="/assets/Img/Tecnologies/icon aspnetcore.png"
                        style="width: 250px;">
                    <div class="card-body">
                        <h4 class="card-title text-white text-center">ASP NET CORE MVC AND REST WEB API</h4>
                        <br>
                        <br>
                        <p class="card-text text-white">ASP NET CORE IS A COMPLETE TOOL
                            DEVELOPED BY
                            MICROSOFT TO CREATE WEB APPLICATIONS THAT RUN ON THE SERVER, THIS CAN HAVE DIFFERENT
                            FUNCTIONS, FROM CONNECTION TO DATABASES, MANAGE RECORDS, GENERATE FINANCIAL CALCULATIONS
                            AMONG OTHERS, ALL WEB APPLICATIONS SUCH AS BANKING, SOCIAL NETWORKING, VIDEO PLAYERS, HAVE A
                            SERVER OF THIS TYPE TO PROVIDE COMPLEX FUNCTIONS. </p>

                    </div>
                </div>
            </div>
           
        </div>
        <br>
        <div class="row">
            <div class="col animate__animated animate__fadeInLeftBig">
                <div class="card" style="background-color: transparent;">
                    <img class="card-img-top img-fluid" id="ImageSize" src="/assets/Img/Tecnologies/icon sqlserver.png"
                        style="width: 270px;">
                    <div class="card-body">
                        <h4 class="card-title text-white text-center">SQL SERVER 2021/2015/2016/2019</h4>
                        <p class="card-text text-white">SQL SERVER IS ONE OF THE WORLD'S MOST WIDELY USED
                            RELATIONAL DATABASES, OFFERING SECURE, HIGH-PERFORMANCE STORAGE FOR COMPLEX APPLICATIONS
                            THAT NEED TO HANDLE LARGE AMOUNTS OF DATA AND HAVE PERSISTENCE WITH EACH OTHER. </p>
                    </div>
                </div>
            </div>
            <div class="col animate__animated animate__fadeInLeftBig">
                <div class="card" style="background-color: transparent;">
                    <img class="card-img-top img-fluid" id="ImageSize" src="/assets/Img/Tecnologies/icon mongodb.png"
                        style="width: 200px;">
                    <div class="card-body">
                        <h4 class="card-title text-white text-center">MONGO DB NO-SQL</h4>
                        <p class="card-text text-white ">MONGO DB IS A NON-RELATIONAL DATABASE THAT PROVIDES
                            ACCESSIBILITY TO DATA IN THE CLOUD DIRECTLY AND ALLOWS A DESIGN AND INTERACTIVITY WITH
                            HIGHLY READABLE DATA, IT ALSO ALLOWS US TO CREATE A HORIZONTAL SCALABILITY FOR OUR WEB
                            APPLICATIONS WITHOUT THE NEED TO INVEST IN MORE SERVER INFRASTRUCTURE. </p>
                    </div>
                </div>
            </div>
            <div class="col animate__animated animate__fadeInLeftBig">
                <div class="card" style="background-color: transparent;">
                    <img class="card-img-top img-fluid" id="ImageSize" src="/assets/Img/Tecnologies/icon firebase.png"
                        style="width: 390px;">
                    <div class="card-body">
                        <h4 class="card-title text-white ">FIREBASE NO-SQL BY GOOGLE</h4>
                        <p class="card-text text-white">FIREBASE IS A WEB APPLICATION OF SAAS TYPE, WHICH
                            ALLOWS US TO HAVE DIFFERENT SERVICES, SUCH AS CLOUD FUNCTIONS, MESSAGING, ARTIFICIAL
                            INTELLIGENCE, BUSINESS ANALYTICS, AND AMONG THEM A NON-RELATIONAL DATABASE, WITH THE
                            FUNCTION OF UPDATING IN REAL TIME. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div style="padding: 35px;"></div>
<app-footer></app-footer>